fluxo-serial-mqtt.json
[{
  "id": "b9b408f4.a49288",
  "type": "tab",
  "label": "Flow 3",
  "disabled": false,
  "info": ""
}, {
  "id": "757544cb.6d153c",
  "type": "serial in",
  "z": "b9b408f4.a49288",
  "name": "",
  "serial": "70423c4f.850294",
  "x": 240,
  "y": 260,
  "wires": [
    ["6cb0ebc7.0e54c4"]
  ]
}, {
  "id": "6cb0ebc7.0e54c4",
  "type": "json",
  "z": "b9b408f4.a49288",
  "name": "",
  "property": "payload",
  "action": "",
  "pretty": true,
  "x": 410,
  "y": 260,
  "wires": [
    ["f7c42b6.7a2b3d8"]
  ]
}, {
  "id": "c935c3fb.15bb1",
  "type": "debug",
  "z": "b9b408f4.a49288",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "targetType": "msg",
  "statusVal": "",
  "statusType": "auto",
  "x": 750,
  "y": 160,
  "wires": []
}, {
  "id": "f7c42b6.7a2b3d8",
  "type": "template",
  "z": "b9b408f4.a49288",
  "name": "",
  "field": "payload",
  "fieldType": "msg",
  "format": "handlebars",
  "syntax": "mustache",
  "template": "{\n    {{payload.topic}} : {{payload.msgpayload}},\n    {{payload.topic1}} : {{payload.msgpayload1}}\n}",
  "output": "str",
  "x": 580,
  "y": 260,
  "wires": [
    ["c935c3fb.15bb1", "2e52f2ae.4710be"]
  ]
}, {
  "id": "2e52f2ae.4710be",
  "type": "mqtt out",
  "z": "b9b408f4.a49288",
  "name": "",
  "topic": "FIAP/400BadRequest/NAC4",
  "qos": "0",
  "retain": "",
  "respTopic": "",
  "contentType": "",
  "userProps": "",
  "correl": "",
  "expiry": "",
  "broker": "f87f21bf.8ab3",
  "x": 840,
  "y": 260,
  "wires": []
}, {
  "id": "69194495.64fc1c",
  "type": "mqtt in",
  "z": "b9b408f4.a49288",
  "name": "",
  "topic": "FIAP/400BadRequest/NAC4",
  "qos": "0",
  "datatype": "auto",
  "broker": "f87f21bf.8ab3",
  "nl": false,
  "rap": true,
  "rh": 0,
  "x": 310,
  "y": 380,
  "wires": [
    ["dee4d87b.e1e118"]
  ]
}, {
  "id": "dee4d87b.e1e118",
  "type": "debug",
  "z": "b9b408f4.a49288",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "targetType": "msg",
  "statusVal": "",
  "statusType": "auto",
  "x": 630,
  "y": 380,
  "wires": []
}, {
  "id": "70423c4f.850294",
  "type": "serial-port",
  "serialport": "COM1",
  "serialbaud": "115200",
  "databits": "8",
  "parity": "none",
  "stopbits": "1",
  "waitfor": "",
  "dtr": "none",
  "rts": "none",
  "cts": "none",
  "dsr": "none",
  "newline": "\\n",
  "bin": "false",
  "out": "char",
  "addchar": "",
  "responsetimeout": "10000"
}, {
  "id": "f87f21bf.8ab3",
  "type": "mqtt-broker",
  "name": "",
  "broker": "broker.mqttdashboard.com",
  "port": "1883",
  "clientid": "",
  "usetls": false,
  "protocolVersion": "4",
  "keepalive": "60",
  "cleansession": true,
  "birthTopic": "",
  "birthQos": "0",
  "birthPayload": "",
  "birthMsg": {},
  "closeTopic": "",
  "closeQos": "0",
  "closePayload": "",
  "closeMsg": {},
  "willTopic": "",
  "willQos": "0",
  "willPayload": "",
  "willMsg": {},
  "sessionExpiry": ""
}]