node-red-json.txt
[{"id":"b9b408f4.a49288","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"757544cb.6d153c","type":"serial in","z":"b9b408f4.a49288","name":"","serial":"70423c4f.850294","x":230,"y":260,"wires":[["6cb0ebc7.0e54c4"]]},{"id":"6cb0ebc7.0e54c4","type":"json","z":"b9b408f4.a49288","name":"","property":"payload","action":"","pretty":true,"x":410,"y":260,"wires":[["2e52f2ae.4710be"]]},{"id":"f7c42b6.7a2b3d8","type":"template","z":"b9b408f4.a49288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alerta! A velocidade do vento está maior que 90 km/h","output":"str","x":740,"y":600,"wires":[["895df621.7ee2d8"]]},{"id":"2e52f2ae.4710be","type":"mqtt out","z":"b9b408f4.a49288","name":"","topic":"FIAP/400BadRequest/NAC4","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f87f21bf.8ab3","x":640,"y":260,"wires":[]},{"id":"69194495.64fc1c","type":"mqtt in","z":"b9b408f4.a49288","name":"","topic":"FIAP/400BadRequest/NAC4","qos":"0","datatype":"json","broker":"f87f21bf.8ab3","nl":false,"rap":true,"rh":0,"x":300,"y":580,"wires":[["407d5ca9.f28e64","104a9198.ea1cfe"]]},{"id":"dee4d87b.e1e118","type":"debug","z":"b9b408f4.a49288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.msgpayload_wind","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":540,"wires":[]},{"id":"cec991b3.d0672","type":"twitter in","z":"b9b408f4.a49288","twitter":"","tags":"@LuizTest3","user":"user","name":"Get_Tweets","inputs":1,"x":230,"y":780,"wires":[["539901f0.461e1"]]},{"id":"539901f0.461e1","type":"function","z":"b9b408f4.a49288","name":"recebe_tweet","func":"msg.payload = msg.twitter;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":780,"wires":[["9dd9414a.1ab26"]]},{"id":"9dd9414a.1ab26","type":"debug","z":"b9b408f4.a49288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":780,"wires":[]},{"id":"895df621.7ee2d8","type":"twitter out","z":"b9b408f4.a49288","twitter":"","name":"Post_Tweet","x":970,"y":600,"wires":[]},{"id":"407d5ca9.f28e64","type":"switch","z":"b9b408f4.a49288","name":"","property":"payload.msgpayload_wind","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":580,"wires":[["dee4d87b.e1e118","f7c42b6.7a2b3d8"]]},{"id":"c2418b.3e5ede78","type":"comment","z":"b9b408f4.a49288","name":"Dashboard - mqtt","info":"","x":260,"y":320,"wires":[]},{"id":"557b5cc4.65bf34","type":"mqtt in","z":"b9b408f4.a49288","name":"","topic":"FIAP/400BadRequest/NAC4","qos":"0","datatype":"json","broker":"f87f21bf.8ab3","nl":false,"rap":true,"rh":0,"x":300,"y":360,"wires":[["7b7e54c1.43bb5c","537c1fa5.03945","5890f7ca.5ec648"]]},{"id":"7b7e54c1.43bb5c","type":"change","z":"b9b408f4.a49288","name":"LDR","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msgpayload_ldr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["5513e345.80015c"]]},{"id":"537c1fa5.03945","type":"change","z":"b9b408f4.a49288","name":"Termistor","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msgpayload_term","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":420,"wires":[["8627cf24.81535"]]},{"id":"5890f7ca.5ec648","type":"change","z":"b9b408f4.a49288","name":"VelocidaVento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msgpayload_wind","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["c4191ca7.e2432"]]},{"id":"5513e345.80015c","type":"ui_gauge","z":"b9b408f4.a49288","name":"","group":"83c8e3ef.86ada","order":0,"width":0,"height":0,"gtype":"donut","title":"Luminosidade","label":"Lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#f50000"],"seg1":"300","seg2":"500","x":820,"y":360,"wires":[]},{"id":"8627cf24.81535","type":"ui_gauge","z":"b9b408f4.a49288","name":"","group":"83c8e3ef.86ada","order":0,"width":0,"height":0,"gtype":"donut","title":"Termperatura","label":"C","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#f50000"],"seg1":"50","seg2":"80","x":820,"y":420,"wires":[]},{"id":"c4191ca7.e2432","type":"ui_gauge","z":"b9b408f4.a49288","name":"","group":"83c8e3ef.86ada","order":0,"width":0,"height":0,"gtype":"donut","title":"Valocidade do vento","label":"Km/h","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#f50000"],"seg1":"70","seg2":"100","x":840,"y":480,"wires":[]},{"id":"fa1ab459.ee5eb8","type":"comment","z":"b9b408f4.a49288","name":"Serial - Mqtt","info":"","x":250,"y":220,"wires":[]},{"id":"db103cc5.f5ed9","type":"comment","z":"b9b408f4.a49288","name":" mqtt - twitter","info":"","x":250,"y":540,"wires":[]},{"id":"104a9198.ea1cfe","type":"cloudantplus out","z":"b9b408f4.a49288","name":"cloudant_gravar","cloudant":"da616248.35d36","database":"twitter_database_teste","service":"_ext_","payonly":true,"operation":"insert","x":560,"y":640,"wires":[[]]},{"id":"de69fa8c.607e48","type":"cloudantplus in","z":"b9b408f4.a49288","name":"cloudant_listar","cloudant":"da616248.35d36","database":"twitter_database_teste","service":"_ext_","search":"_all_","design":"","index":"","x":520,"y":920,"wires":[["9c19ec40.e7a05"]]},{"id":"35c828ea.7db438","type":"inject","z":"b9b408f4.a49288","name":"BuscaDados_Cloudant","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":920,"wires":[["de69fa8c.607e48"]]},{"id":"9c19ec40.e7a05","type":"debug","z":"b9b408f4.a49288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":920,"wires":[]},{"id":"a4bb84e9.7d2618","type":"comment","z":"b9b408f4.a49288","name":"Salvando dados no cloudant","info":"","x":580,"y":700,"wires":[]},{"id":"8b31540d.b97318","type":"comment","z":"b9b408f4.a49288","name":"Postando o tweet","info":"","x":940,"y":640,"wires":[]},{"id":"2515b54e.f81a0a","type":"comment","z":"b9b408f4.a49288","name":"Recuperando tweet","info":"","x":250,"y":740,"wires":[]},{"id":"6285955b.9812ac","type":"comment","z":"b9b408f4.a49288","name":"Fazendo requisição no cloudant sobre os dados salvos","info":"","x":360,"y":880,"wires":[]},{"id":"70423c4f.850294","type":"serial-port","serialport":"COM1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f87f21bf.8ab3","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"83c8e3ef.86ada","type":"ui_group","name":"NAC-04","tab":"1efe21c3.174f8e","order":1,"disp":true,"width":"11","collapse":true},{"id":"da616248.35d36","type":"cloudantplus","host":"https://apikey-v2-j1ebv0j3ll2vaa7wpvvy1gqlmq35jihpf2ivblfzcyo:fda152d37f2ec54fd73c943a2860c7ce@87417e68-899f-4d3d-a029-5f04a48ee165-bluemix.cloudantnosqldb.appdomain.cloud","name":"Cloudant_gravar"},{"id":"1efe21c3.174f8e","type":"ui_tab","name":"NAC-04","icon":"dashboard","disabled":false,"hidden":false}]